<div class="min-h-screen bg-gradient-to-br from-gray-900 to-gray-800 text-gray-100 flex flex-col items-center p-4 sm:p-8 selection:bg-indigo-500 selection:text-white">
  <header class="mb-6 text-center">
    <h1 class="text-5xl font-bold tracking-tight bg-clip-text text-transparent bg-gradient-to-r from-indigo-400 via-pink-400 to-red-400">
     Angular Story Generator
    </h1>
    <h2 class="text-4xl font-bold tracking-tight bg-clip-text text-transparent bg-gradient-to-r from-indigo-400 via-pink-300 to-red-300">
      Prompt API with Multimodal Input
    </h2>
    <p class="text-gray-400 mt-2 text-lg">Record, Visualize, Play, Manage, and Transcribe Your Audio Clips.</p>
  </header>

  @let btnSetupText = showSetup() ? 'Hide Setup' : 'Show Setup';
  @let btnUserAgentText = showUserAgent() ? 'Hide User Agent' : 'Show User Agent';
  <div class="mb-6">
    <button class="px-4 py-2 bg-indigo-600 hover:bg-indigo-700 text-white focus:ring-indigo-500 mr-4" (click)="showSetup.set(!showSetup())">{{ btnSetupText }}</button>
    <button class="px-4 py-2 bg-indigo-600 hover:bg-indigo-700 text-white focus:ring-indigo-500" (click)="showUserAgent.set(!showUserAgent())">{{ btnUserAgentText }}</button>
  </div>
  @if (showSetup()) {
    <app-setup class="w-full" />
  }
  <app-detect-ai class="w-full"  [showUserAgent]="showUserAgent()" />

  <footer class="mt-12 text-center text-gray-500 text-sm">
    <p>&copy; {{ fullYear }} Angular Web Dictaphone. Crafted with <i class="fas fa-heart text-red-500"></i>.</p>
  </footer>
</div>